html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}

a:hover{
    color: rgb(210, 0, 0);
}

/* General */
.title{
    display: block;
    color: rgb(255, 0, 0);
    font-size: 25px;
    margin: 15px 0px;
}

.bold{
    font-weight: bold;
}

.italics{
    font-style: italic;
}

ul.unconventional-list{
    position: relative;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.unconventional-list li{
    display: inline-block;
    margin: 0px;
}

/* General Containers*/
.container{
    display: block;
    position: relative;
    width: 850px;
    padding: 15px 0px;
    margin: 0px auto;
}

.text-container{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 59%;
    font-size: 16px;
    text-align: justify;
    vertical-align: middle;
}

.image-container{
    position: relative;
    padding: 10px 30px;
    width: 39%;
    display: inline-block;
}

.image-container:first-child{
    padding-left: 0px;
}

.image-container:last-child{
    padding-right: 0px;
}

.image-container img{
    vertical-align: middle;
    border-radius: 30px;
    width: 100%;
}

/* wrappers */
.wrapper{
    position: relative;
    text-align: center;
}

div#body-wrapper{
    padding: 20px 0px;
    font-size: 18px;
}

div#footer-wrapper{
    font-size: 14px;
    color:rgb(30, 30, 30);
    border-style: solid none none none;
    border-color: rgb(130, 130, 130);
    border-width: 1px;
}

/* Navigation and Heading */
div#rock-container{
    padding: 20px 0px;
}

div#rock-container img{
    width: 71px;
    height: 71px;
}

div#navigation-container{
    background-color: rgb(255, 0, 0);
}

#logo-image-container{
    position: relative;
    display: inline-block;
}

#logo-text-container{
    display: inline-block;
    height: 100%;
    position: relative;
    text-align: left;
    vertical-align: top;
}

div#page-header-wrapper div#rock-title{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 45px;
    line-height: 42px;
    margin: 0px;
}

div#page-header-wrapper div#rock-caption{
    margin: 0px;
}

ul#navBar li a{
    display: block;
    padding:10px 25px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

ul#navBar li a:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}

/* Footer */
ul#footer-list{
    display: block;
    position: relative;
    margin: 15px 0px;
    text-align: center;
}

ul#footer-list li{
    vertical-align: middle;
    font-size: 20px;
    height: 100%;
    width: 15%;
}

ul#footer-list li:nth-child(3){
    font-size: 14px;
}

ul#footer-list li a{
    color: rgb(0, 0, 0);
}

ul#footer-list li a:hover{
    color: rgb(255, 0, 0);
}
